$barColor: #71b1e2;
$barHoverColor: #2693e6;

.chart-container {
    position: relative;
    margin-top: 30px;

    .chart-title {
      margin: 0;
    }

    .country-bar {
        cursor: pointer;
        fill: $barColor;

        &.country-bar-hovered {
            fill: $barHoverColor;
        }
    }
    
    .bar-overlay {
        cursor: pointer;
    }
}