$barHoverColor: #2693e6;

.chart-container {
    position: relative;
    margin-top: 30px;

    .chart-title {
      margin: 0;
    }

    .country-bar {
        cursor: pointer;

        &.country-bar-hovered {
            fill: $barHoverColor;
        }
    
        // &:hover {
            
        // }
    }
    
    .bar-overlay {
        cursor: pointer;
    }
}